@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&family=Nunito&display=swap");

:root {
    --primary-bg-color: rgb(41, 41, 46);
    --secondary-bg-color: rgb(27, 27, 29);
    --accent-color: #9feaf9;
    --electronjs-color: #2b2e3a;
}

::selection {
  background: var(--accent-color);
  color: black;
}

#welcome img {
    width: 100%;
    height: 100%;
}

.loading {
    filter: blur(1px);
    pointer-events: none;
    cursor: wait;
}

#loading {
    background-color: #424549;
    display: none;
    position: fixed;
    width: 280px;
    height: 180px;
    top: 30%;
    left: 33%;
    border-radius: 10px;
    box-shadow: 0px 3px 7px 7px #00000048;
}

#loading-message {
    position: relative;
    top: 30%;
    text-align: center;
}

.lds-ring {
    position: relative;
    width: 42px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    top: 35%;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;

    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 0.84s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--accent-color) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.315s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.21s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.105s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

html {
    font-family: "Nunito", "Kanit";
    color: #c7c7c7;
    overflow-x: hidden;
    max-width: 820;
    max-height: 750;
}

body {
    background-color: var(--primary-bg-color);
}

body,
h1,
h2 {
    margin: 0;
}

p {
    margin: 0;
    padding-bottom: 5px;
}

h1 {
    padding-top: 10px;
    color: whitesmoke;
}

#navbar {
    position: fixed;
    background-color: var(--secondary-bg-color);
    height: 100%;
    width: 120px;
    margin: 0;
}

#navbar-link-container {
    padding-top: 20px;
}

#content {
    margin-left: 120px;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
    width: 100% - 120px;
    background-color: var(--primary-bg-color);
}

.navbar-link {
    list-style: none;
    position: relative;
    padding-inline-start: 0;
}

.navbar-link li {
    margin-top: 2px;
}

.navbar-link li a {
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
    color: #bdbdbd;
}

.active {
    background: rgba(39, 39, 41, 1);
    width: 95%;
    height: 40px;
    position: absolute;
    left: 2.5%;
    top: 0;
    z-index: -1;
    border-radius: 3px;
    display: none;
}

.passive {
    background: rgba(39, 39, 41, 1);
    width: 95%;
    height: 40px;
    position: absolute;
    left: 2.5%;
    top: 0;
    z-index: -1;
    border-radius: 3px;
    display: none;
}

.black {
    color: var(--accent-color) !important;
    font-weight:bold ;
}

/* change focus-within to hover for another style */
/* .navbar-link li:focus-within a {
      color: var(--secondary-bg-color) !important;
      transition: 1.6s;
    } */

/* .navbar-link li a:hover {
    color: var(--accent-color);
} */

.navbar-link li:hover ~ .passive {
    display: block;
    /* transition: 0.15s;
    transition-timing-function: ease-out; */
}
.navbar-link li:nth-child(1):hover ~ .passive {
    top: 2%;
}

.navbar-link li:nth-child(2):hover ~ .passive {
    top: 35.33%;
}

.navbar-link li:nth-child(3):hover ~ .passive {
    top: 68.66%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--primary-bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary-bg-color);
    height: 20%;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
