#delivery-number,
#money {
    width: 80px;
}

.long-input {
    width: 400px;
}

.medium-input {
    width: 300px;
}

#procurement-container {
    overflow-y: scroll;
}

.vertical {
    display: inline-block;
    margin: 2px;
}

.vertical label {
    display: block;
}

input {
    font-size: 18px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    background-color: #424249;
    border-radius: 5px;
    border-style: none;
    color: #bdbdbd;
}

input:focus {
    outline: none;
}

select {
    background-color: #424249;
    appearance: none;
    color: #bdbdbd;
    border-radius: 6px;
    text-align: center;
    height: 25px;
}

select:focus {
    outline: none;
}

#create {
    font-weight: bold;
    font-size: medium;
    color: var(--electronjs-color);
    background-color: var(--accent-color);
    border-radius: 10px;
    border: none;
    text-align: center;
    width: 100px;
    height: 40px;
}

#create:active {
    background-color: var(--electronjs-color);
    color: var(--accent-color);
}

#save-at {
    font-size: small;
    font-weight: bold;
    color: #adadad;
    padding: 0.2em;
    border: thin solid rgb(128, 128, 128);
    border-radius: 10px;
    background-color: #424549;
}

#save-at:hover,
#save-at-path {
    color: var(--accent-color);
}
