input::file-selector-button {
    font-size: small;
    font-weight: bold;
    color: #adadad;
    padding: 0.2em;
    border: thin solid grey;
    border-radius: 20px;
    background-color: #424549;;
}

input::file-selector-button:hover {
    color: var(--accent-color);
}

#save-button {
    font-weight: bold;
    font-size: medium;
    color: var(--electronjs-color);
    background-color: var(--accent-color);
    border-radius: 10px;
    border: none;
    text-align: center;
    width: 100px;
    height: 40px;
}

#save-button:active {
    background-color: #205921;
    color: rgb(172, 171, 171);
}

.path {
    color: var(--accent-color);
}

.browse-label {
    font-weight: 500;
}

h3 {
    color: whitesmoke;
}

#procurement,
#receipt {
    background-color: rgb(46, 48, 59);
    border-radius: 20px;
    padding: 20px 20px;
    width: 560px;
}
