<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <title>Hello World!</title>
</head>

<body>
  <div id="navbar">
    <button id="button1"> setting </button>
    <button id="button2"> procurement </button>
    <button id="button3"> invoice </button>
  </div>
  <div id="content">
    <h2 style='color: red;''>Let jQuery AJAX Change This Text</h2>
  </div>
</body>
<script src="../renderer.js"></script>

</html>