<link rel="stylesheet" href="../css/receipt.css">
<div id="receipt-container">
    <h1>Receipt</h1>
    <br />
    <form>
        <p>
            <label for="file-name">File Name</label><br />
            <input id="file-name" type="text" required />
        </p>
        <p>
            <label for="save-at">Save at</label><br />
            <button
                id="save-at"
                type="button"
                onclick="getDir()"
                formnovalidate
            >
                Choose Folder
            </button>
            <span id="save-at-path"></span>
        </p>
        <p>
            <label for="shop">ร้านค้า</label><br />
            <select id="shop" required onchange="loadControlNumber()">
                <option disabled selected value="">-select an option-</option>
                <option value="1a">shop1</option>
                <option value="1b">shop2</option>
                <option value="2a">shop3</option>
                <option value="2b">shop4</option>
            </select>
        </p>
        <p class="vertical">
            <label for="receipt-number">เลขที่ใบเสร็จ(auto)</label>
            <input
                id="receipt-number"
                data-empty-row=""
                type="number"
                min="1"
                required
            />
        </p>
        <p class="vertical">
            <label for="receipt-date">ใบเสร็จลงวันที่</label>
            <input id="receipt-date" type="date" />
        </p>
        <p>
            <label for="gov-name">ส่วนราชการ</label><br />
            <input
                id="gov-name"
                type="text"
                required
                autocomplete="off"
                list="gov-list"
                onchange="loadAddress()"
            />
            <datalist id="gov-list"></datalist>
            <span id="gov-name-status" style="font-size: 14px"></span>
        </p>
        <p>
            <label for="address">ที่อยู่</label><br />
            <input id="address" type="text" />
        </p>
        <p>
            <label for="detail">รายละเอียดใบเสร็จ</label><br />
            <input id="detail" type="text" list="detail-list" required />
            <datalist id="detail-list">
                <option value="ค่าวัสดุการศึกษา"></option>
                <option value="ค่าวัสดุสำนักงาน"></option>
                <option value="หนังสือเรียน"></option>
            </datalist>
        </p>
        <p class="vertical">
            <label for="delivery-number">อ้างใบส่งของเลขที่</label>
            <input id="delivery-number" type="text" />
        </p>
        <p class="vertical">
            <label for="delivery-date">ใบส่งของวันที่</label>
            <input id="delivery-date" type="date" />
        </p>
        <p>
            <label for="money">จำนวนเงิน</label><br />
            <input id="money" type="number" min="0" required />
        </p>
        <p>
            <br />
            <button id="create" onclick="createClicked()">Create</button>
        </p>
    </form>
</div>
<script src="../js/receipt.js"></script>
