<style>
    #receipt-number,
    #delivery-number {
        width: 80px;
    }

    #receipt-container {
        overflow-y: scroll;
    }

    .vertical {
        display: inline-block;
        margin: 2px;
    }

    .vertical label {
        display: block;
    }

    input[type=text],
    input[type=number],
    input[type=date] {
        background-color: #424549;
        border-radius: 5px;
        border-style: none;
        color: #bdbdbd;
    }

    input:focus {
        outline: none;
    }

    select {
        background-color: #424549;
        appearance: none;
        color: #bdbdbd;
        border-radius: 6px;
        text-align: center;
        height: 25px;
    }

    select:focus {
        outline: none;
    }


    #create {
        font-weight: bold;
        font-size: medium;
        color: whitesmoke;
        background-color: #308132;
        border-radius: 50px;
        border: none;
        text-align: center;
        width: 100px;
        height: 40px;
    }

    #gov-name,
    #file-name,
    #address {
        width: 300px;
    }

    #save-at {
        font-size: small;
        font-weight: bold;
        color: #1e2124;
        padding: 0.2em;
        border: thin solid grey;
        border-radius: 100px;
    }

    #save-at:hover, #save-at-path{
        color: #7289da;
    }

    
</style>
<div id="receipt-container">
    <h1> Receipt </h1><br>
<form>
    <p>
        <label for="file-name">File Name</label><br>
        <input id="file-name" type="text" required>
    </p>
    <p>
        <label for="save-at">Save at</label><br>
        <button id="save-at" onclick="document.getElementById('folder-picker').click()" formnovalidate>Choose Folder</button>
        <input id="folder-picker" type="file" webkitdirectory directory multiple="false" onchange="getfolder(event)"
            required style="display: none;"><br>
        <label id="save-at-path">----None----</label>
    </p>
    <p>
        <label for=" shop">ร้านค้า</label><br>
        <select id="shop" required>
            <option disabled selected value>-select an option-</option>
            <option value="1">shop1</option>
            <option value="2">shop2</option>
            <option value="3">shop3</option>
        </select>
    </p>
    <p class="vertical">
        <label for="receipt-number">เลขที่ใบเสร็จ(auto)</label>
        <input id="receipt-number" type="number" min="1" required>
    </p>
    <p class="vertical">
        <label for="receipt-date">ใบเสร็จลงวันที่</label>
        <input id="receipt-date" type="date">
    </p>
    <p>
        <label for="gov-name">ส่วนราชการ</label><br>
        <input id="gov-name" type="text" required autocomplete="off" list="gov-list">
        <datalist id="gov-list"></datalist>
    </p>
    <p>
        <label for="address">ที่อยู่</label><br>
        <input id="address" type="text">
    </p>
    <p>
        <label for="detail">รายละเอียดใบเสร็จ</label><br>
        <input id="detail" type="text" list="detail-list" required>
        <datalist id="detail-list">
            <option value="ค่าวัสดุการศึกษา">
            <option value="ค่าวัสดุสำนักงาน">
            <option value="หนังสือเรียน">
        </datalist>
    </p>
    <p class="vertical">
        <label for="delivery-number">อ้างใบส่งของเลขที่</label>
        <input id="delivery-number" type="text">
    </p>
    <p class="vertical">
        <label for="delivery-date">ใบส่งของวันที่</label>
        <input id="delivery-date" type="date">
    </p>
    <p>
        <label for="money">จำนวนเงิน</label><br>
        <input id="money" type="number" min="0" required>
    </p>
    <p>
        <br>
        <button id="create" type="submit" onclick="">Create</button>
    </p>
</form>
</div>
<script>
    // setup autocomplete
    database.forEach(school => {
        datalist = document.getElementById("gov-list")
        option = document.createElement("option")
        option.innerHTML = school.name
        datalist.appendChild(option)
    });

    function getfolder(e) {
        try {
            let path = document.getElementById("folder-picker").files[0].path
            path = path.substring(0, path.lastIndexOf("/") + 1)
            document.getElementById("save-at-path").innerHTML = path
        } catch (err) {
            document.getElementById("save-at-path").innerHTML = "----None----"
            console.log("user did not choose folder")
            console.log(err)
        }
    }
</script>