<style>
    input::file-selector-button {
        font-size: small;
        font-weight: bold;
        color: #1e2124;
        padding: 0.2em;
        border: thin solid grey;
        border-radius: 100px;
    }

    input::file-selector-button:hover {
        color: #7289da;
    }

    #save-button {
        font-weight: bold;
        font-size: medium;
        color: whitesmoke;
        background-color: #308132;
        border-radius: 50px;
        border: none;
        text-align: center;
        width: 100px;
        height: 40px;
    }

    .path {
        color: #7289da;
    }

    .browse-label {
        font-weight: 500;
    }
</style>
<h1> Settings </h1><br>
<p>
    <label for="school-browse" class="browse-label">ไฟล์ Database</label><br>
    <input id="school-browse" type="file"><br>
    <label id="school-path" class="path"></label>
</p>
<p>
    <label for="form1-browse" class="browse-label">Form จัดซื้อ หจก.3พ</label><br>
    <input id="form1-browse" type="file"><br>
    <label id="form1-path" class="path"></label>
</p>
<p>
    <label for="form2-browse" class="browse-label">Form จัดซื้อ บำเหน็จศึกษาภัณฑ์</label><br>
    <input id="form2-browse" type="file"><br>
    <label id="form2-path" class="path"></label>
</p>
<p>
    <label for="form3-browse" class="browse-label">Form ใบเสร็จ หจก.3พ ปกติ</label><br>
    <input id="form3-browse" type="file"><br>
    <label id="form3-path" class="path"></label>
</p>
<p>
    <label for="form4-browse" class="browse-label">Form ใบเสร็จ หจก.3พ เลี่ยง</label><br>
    <input id="form4-browse" type="file"><br>
    <label id="form4-path" class="path"></label>
</p>
<p>
    <label for="form5-browse" class="browse-label">Form ใบเสร็จ บำเหน็จศึกษาภัณฑ์ ปกติ</label><br>
    <input id="form5-browse" type="file"><br>
    <label id="form5-path" class="path"></label>
</p>
<p>
    <label for="form6-browse" class="browse-label">Form ใบเสร็จ บำเหน็จศึกษาภัณฑ์ เลี่ยง</label><br>
    <input id="form6-browse" type="file"><br>
    <label id="form6-path" class="path"></label>
</p>
<br>
<button id="save-button"> Save </button>
<script>

    function loadPaths() {
        var paths = api.getEssentialPath()
        if (paths == -1)
            alert("error reading setting file, \nplease contact developer")
        else {
            for (var prop in paths) {
                let val = paths[prop]
                document.getElementById(prop + "-path").innerHTML = (val == null) ? "----None----" : val
            }
        }
    }

    // helper
    // function setBrowse(id) {
    //     var browseButton = document.getElementById(id + "-browse")
    //     browseButton.onchange = () => {
    //         document.getElementById(id + "-path").innerHTML = browseButton.files[0].path
    //     }
    // }
    // ["school", "form1", "form2", "form3", "form4", "form5", "form6",].forEach(id => {
    //     setBrowse(id)
    // });

    // load paths
    loadPaths()
    // save
    document.getElementById("save-button").onclick = () => {
        var paths = Object();
        ["school", "form1", "form2", "form3", "form4", "form5", "form6"].forEach(prop => {
            try {
                let val = document.getElementById(prop + "-browse").files[0].path
                paths[prop] = val
            } catch {
                let val = document.getElementById(prop + "-path").textContent
                paths[prop] = (val == "----None----") ? null : val
            }

        });
        console.log(paths)
        api.saveEssentialPath(paths)
        alert("Settings Saved")
        console.log("reloading..")
        $("#link1").click()
    }
</script>