<h1>Welcome</h1>
<h4>MyDoc-1.0.5</h4>
<br />
<h2>คู่มือการใช้งาน</h2>
<h3>MyDoc</h3>
<ul>
    <li>**สำคัญมาก** สมุดคุมทุกประเภท sheet ที่ต้องการใช้ต้องอยู่เป็น"ชีทแรก"เท่านั้น และไม่ควรมีชีทไหนที่ถูก hide อยู่ <br>
        เช่น sheet เรียงแบบนี้ ==> 'ใบส่งของ2567' , 'ใบส่งของ 2568' ถ้า hide 'ใบส่งของ2567'; ระบบจะมอง 'ใบส่งของ 2568' เป็นชีทที่่ 2 เหมือนเดิม 
    </li><br>
    <li>ปิดไฟล์ที่เกี่ยวข้องกับโปรแกรมทั้งหมดขณะใช้งาน Ex. 'database.xlsx', 'สมุดคุม.xlsx'</li>
</ul>
<h3>Procurement</h3>
<ul>
    <li>
        ให้พิมพ์รายการลงไปใน sheet ที่ชื่อว่า 'แนบท้ายบันทึกStartHere' แล้วรายการจะ link ไปทุกหน้าโดยถ้ารายการ
        <ul>
            <li>มีจำนวนไม่เกิน 11 รายการ 'บันทึกข้อความ', 'ใบเสนอราคา', 'ใบสั่งซื้อ' จะแจงรายละเอียดทั้ง 11 รายการ (=ไม่ต้องปริ้นแนบท้าย)</li>
            <li>
                มีจำนวนมากกว่า 11 รายการ 'บันทึกข้อความ', 'ใบเสนอราคา', 'ใบสั่งซื้อ'
                จะแสดงข้อความอ้างอิงถึงแนบท้าย
            </li>
        </ul>
    </li>
    <br />
    <li>
        อย่าลืมลบหน้าที่ไม่มีรายการอะไรเลยออกด้วยใน sheet 'แนบท้ายบันทึกStartHere', 'แนบท้ายใบเสนอราคา',
        'แนบท้ายใบสั่งซื้อ', 'ใบส่งของ'
    </li>
    <br />
    <li>
        รายชื่อเจ้าหน้าที่ทั้ง 6 คนจะอยู่ใน sheet ชื่อ 'data' หากต้องการเปลี่ยนชื่อให้เปลี่ยนในหน้านี้แล้วมันจะ link
        ไปหน้าอื่นๆเอง
    </li>
</ul>
